// COLORS
$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #bdbdbd;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212121;
$black:    #000000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #ff9100;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $orange;
$secondary:     $gray-900;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// MAIN
$body-bg:                   $white;
$body-color:                $secondary;
$enable-rounded:            false;

// TYPOGRAPHY
$font-family-sans-serif:      'Muli', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-montserrat:             'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-montserrat-alternates:  'Montserrat Alternates', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:        SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:             $font-family-sans-serif;

$font-size-base:            1.5625rem;
$font-weight-base:          600;
$line-height-base:          1.2;

$paragraph-margin-bottom:   30px;

// title sizes
$title-palette: (
	xs: (
		'h1': 54,
		'h2': 32,
		'h3': 26,
		'h4': 18,
		'h5': 18,
		'h6': 16
	),
	sm: (
		'h1': 70,
		'h2': 40,
		'h3': 26,
		'h4': 22,
		'h5': 18,
		'h6': 16
	),
	md: (
		'h1': 90,
		'h2': 50,
		'h3': 26,
		'h4': 26,
		'h5': 18,
		'h6': 16
	),
	lg: (
		'h1': 110,
		'h2': 65,
		'h3': 26,
		'h4': 28,
		'h5': 18,
		'h6': 16
	),
	xl: (
		'h1': 140,
		'h2': 74,
		'h3': 74,
		'h4': 36,
		'h5': 18,
		'h6': 16
	),
	xxl: (
		'h1': 174,
		'h2': 96,
		'h3': 74,
		'h4': 48,
		'h5': 18,
		'h6': 16
	)
);

$headings-font-family:      $font-montserrat-alternates;
$headings-font-weight:      700;
$headings-line-height:      1.3;
$headings-color:            inherit;
$headings-margin-bottom:    1rem;

// GRID
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1550px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1485px);

// LINKS
$link-color:                              $primary;
$link-decoration:                         none;
$link-hover-color:                        lighten($link-color, 5%);
$link-hover-decoration:                   none;

// BUTTONS
$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       $line-height-base;
$input-btn-border-width:      1px;
$btn-border-radius:           0.25rem;
$btn-transition:              color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;

// Z-INDEX MASTER LIST
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-scroll-top-btn:             1022;
$zindex-menu:                       1025;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;
$zindex-preloader:                  1080;
$zindex-custom-cursor:              1090;

// ICOMOON FONT PATH =================================
$icomoon-font-path: "../fonts/icomoon";